[Unit]
Description=Calvin and Hobbes

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url https://www.gocomics.com/random/calvinandhobbes \
    -xpath '//picture[@class="item-comic-image"]/img/@src' \
    -mode fill \
    -scale 0.9
Restart=always

[Install]
WantedBy=multi-user.target
