[Unit]
Description=Mercury News

[Service]
ExecStart=/home/root/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -timezone TZ \
    -cooldown COOLDOWN \
    -url https://cdn.newseum.org/dfp/jpg%%d/lg/CA_MN.jpg \
    -strftime \
    -mode fill 
Restart=always

[Install]
WantedBy=multi-user.target