[Unit]
Description=New York Times
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/root/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url https://cdn.newseum.org/dfp/jpg%%e/lg/NY_NYT.jpg \
    -strftime \
    -mode fill
Restart=always

[Install]
WantedBy=multi-user.target
