[Unit]
Description=The Guardian (UK)

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url https://www.frontpages.com/the-guardian \
    -xpath '//img[@id="giornale-img"]/@src' \
    -mode fill
Restart=always

[Install]
WantedBy=multi-user.target
