[Unit]
Description=Unsplash Random Image

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url https://source.unsplash.com/random/1872x1404?query=${KEYWORDS}&orientation=LANDSCAPE \
    -mode fill \
Restart=always

[Install]
WantedBy=multi-user.target
