[Unit]
Description=XKCD

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url https://xkcd.com \
    -xpath '//div[@id="comic"]/img/@src' \
    -xpath-title '//div[@id="comic"]/img/@alt' \
    -xpath-subtitle '//div[@id="comic"]/img/@title' \
    -mode center \
    -scale 1.75
Restart=always

[Install]
WantedBy=multi-user.target
