[Unit]
Description=XKCD

[Service]
ExecStart=/home/root/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -timezone TZ \
    -cooldown COOLDOWN \
    -url https://xkcd.com \
    -xpath '//div[@id="comic"]/img'
Restart=always

[Install]
WantedBy=multi-user.target